.body {
    border: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center, flex-start;
    margin: 0px;
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    background-color: #1F2937
        
}
.left-header{
    display: flex;
    justify-content: center;
   
}
img {
    box-shadow: 3px 3px 8px 3px #000000;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5%;
    
}


.right-header {
    display: flex;
    align-items: flex-start;
    font-size: medium;

}

ol {
    display: flex;
    gap: 20px;
    font-size: 20px ;
    color: #12589e;
    list-style-type: none ;
    
}

.lien{
    font-weight: bold; 
    color: #12589e;
    text-decoration: none
}

.first-part {
    display: flex;
    flex-direction: row ; 
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0px;
}

h1 {
    color: aliceblue;
}

#firstbutton {
    background-color: #12589e; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
}

.right-first-part {
    padding-right: 150px ;
    padding-bottom: 30px;
    width: 300px;
}

.containeur {
    padding-left: 150px;
    padding-bottom: 30px;
}

#imagedroite {
    width: 100px;
}

.img3{
    width: 300%;
    height: 200%;
    border-radius: 5%;
}

.container {
    display: flex;
    justify-content: center;
    column-gap: 80px;
    row-gap: 0px;
}

.textpart2up {
    display: flex;
    align-items: center ;
    justify-content: center;
    margin-bottom: 30px;
    color: #12589e;
}

.image-second-part {
    display: flex ;
    flex-direction: column ;
    align-items: center;
    column-gap: 30px;

}

.text-under-image {
    display: flex;
    font-size:small;
    padding-top: 0px;
    width: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.img99 {
    width: 100px;
    height: 100px;
    border:2px solid #0b3cc4;
    box-shadow: none;
}   

.third-part{
    background-color: grey ;
    display: flex;
    flex-direction: column;
    padding : 30px 150px 30px 150px ; 
    justify-content: center;
}

.auteur {
    padding-right: 250px;
    text-align: end;
    color:gold ;   
    font-weight: lighter ;
}

.text{
    width: 300px;
    padding-left: 200px;
    font-style: italic;
    color: #ffffff;
}

.fourth-part{
    background-color: rgb(255, 255, 255);
    width: auto ;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}   

.explainCTA {
    width: 300px;
    height: 100px;
    font-size: xx-small;
}

.global {
    background-color: #41a3d0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 190px;
    margin: 25px;
    border-radius: 5px;
    padding-left: 100px;
    padding-right: 100px;
}

.CTA {
    
}

#lastbutton {
    height: 30px;
    background-color: #41a3d0;
    border: solid 2px #0b3cc4;
    border-radius: 2px;
    font-size: larger;
    font-weight: bold;
    padding-right: 30px;
    padding-left: 30px ;
    
}

h1 {
    font-weight:bold;
}

h2{
    font-weight: 200 ;
}

footer {
    background-color: #1F2937 ;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 200;
    color: white;
}